jwt:
  secret: 984hg493gh0439rthr0429uruj2309yh937gc763fe87t3f89723gf
  lifetime: 30m
spring:
  docker:
    compose:
      enabled: false
  liquibase:
    drop-first: true
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  application:
    name: "task-manager"
  datasource:
    url: jdbc:postgresql://localhost:5432/bank_rest_db
    username: postgres
    password: 1
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  main:
    allow-circular-references: true
